################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ANAF.NET/.vs/ANAF.NET
/ANAF.NET/bin/Debug
/ANAF.NET/obj
/Demo.Api/bin/Debug/netcoreapp3.1
/Demo.Api/obj
/Demo.ConsoleApplication/bin/Debug/netcoreapp3.1
/Demo.ConsoleApplication/obj
/ANAF.NET/.vs/ANAF.API
/ANAF.NET/bin/Release
/Demo.Api/bin/Release/netcoreapp3.1
/Demo.ConsoleApplication/bin/Release/netcoreapp3.1
/Demo.Api/bin/Release/net5.0
/Demo.ConsoleApplication/bin/Release/net5.0
